/* You can add global styles to this file, and also import other style files */
body::after {
    background-image: url('./assets/images/background.png');
    content: "";
    opacity: 0.3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
    background-size: cover;
}
.glyphicon {
border-radius: 50%!important;
-webkit-transition: -webkit-transform .8s ease-in-out!important;
transition:transform .8s ease-in-out!important;
}
.glyphicon:hover {
-webkit-transform: rotate(360deg)!important;
    transform: rotate(360deg)!important;
}